@inherits LayoutComponentBase


<div class="navigation">
    <ul>
        <li>
            <NavLink href="" class="nav-link">
                <span class="title">Personal Expenses Tracker</span>
            </NavLink>
        </li>
        <li class="active">
            <NavLink href="dashboard" class="nav-link">
                <span class="title">Dashboard</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="transaction" class="nav-link">
                <span class="title">Add Transactions</span>
            </NavLink>
        </li>
        <li >
            <NavLink href="transactionhistory" class="nav-link">
                <span class="title">Transaction Record</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="debthistory" class="nav-link">
                <span class="title">Debt</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="categories" class="nav-link">
                <span class="title">Categories</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="logout" class="nav-link">
                <span class="title">Logout</span>
            </NavLink>
        </li>
    </ul>
</div>

<link href="css/NavMenu.css" rel="stylesheet" />
