.text-orange[b-40qqgzsczv] {
    color: #ff7600;
}

.transactions-table[b-40qqgzsczv] {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px; /* Adds more space (60px) to the right side and 40px to the left side */
    padding: 10px; /* Optional padding inside the table for spacing */
}

    .transactions-table thead[b-40qqgzsczv] {
        background-color: #ff7600;
        color: white;
    }

    .transactions-table th[b-40qqgzsczv],
    .transactions-table td[b-40qqgzsczv] {
        text-align: left;
        padding: 10px;
        border: 1px solid #ddd;
    }

    .transactions-table th[b-40qqgzsczv] {
        font-weight: bold;
    }

    .transactions-table tbody tr:hover[b-40qqgzsczv] {
        background-color: #f9f9f9;
    }

.btn-success[b-40qqgzsczv] {
    background-color: #28a745;
    border: none;
    padding: 5px 10px; /* Decrease the padding to reduce button size */
    font-size: 14px; /* Decrease font size for smaller text */
}

    .btn-success:hover[b-40qqgzsczv] {
        background-color: #218838;
    }

.text-muted[b-40qqgzsczv] {
    color: #6c757d;
}

/* Additional padding or margin to the left of the whole content */
.d-flex[b-40qqgzsczv] {
    margin: 20px; /* Adds more space (60px) to the right side and 40px to the left side */
}
